.subtitle{
	background-color: rgb(103, 58, 183);
}
.subtitle h2{
	color: #fff;
	padding: 15px;
	margin-left: 10px;
	font-size: 20;
	font-family: inherit;
}
#title{
	margin-top: 20px;
	margin-left: 20px;
	font-family: inherit;
}
.row, #row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	margin: -25px auto;
}
#form h3{
	width: 91%;
	margin-left: 20px;
	text-align: justify;
	text-justify: inter-word;
	font-family: inherit;
}
#row p{
	border: 1px solid rgba(0, 0, 0, .5);;
	border-radius: 5px;
	background-color: #0A79B8;
	color:#FFFFFF;
	margin-right: 5px;
}
#row #number {
	width:8%;
	text-align: center;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: inherit;
}
#row #text{
	width: 80%;
	padding: 5px;
	text-align: justify;
	text-justify: inter-word;
	font-family: inherit;
}
body {
	width: 96%;
	border:0px solid rgba(0, 0, 0, .5);
	border-radius: 6px;
	border-top: 8px solid rgb(103, 58, 183);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	font-family: "Helvetica Neue Med";
	font-size: 15px;
}
#answer, .answer {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
}
#colum, .colum{
	display: flex;
	flex-direction: column-reverse;
	margin: auto;
	align-items: center;
}
#res, .res{
	border: 1px solid #9C40FF;
	background-color: #9C40FF;
}
#btn-at, .btn-at, #btn-si, .btn-si{
	min-width: 102px;
	height: 34px;
	background-color: #0A79B8;
	color: white;
	padding: 0px 15px;
	margin: 8px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
    text-align: center;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	text-transform: uppercase;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.337058823529412);
	font-family: inherit;
}
#buttons, .buttons{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 15px;
}
@media screen and (max-width: 768px){
	body{
		width: 95%;
	}
}