.subtitle{
	background-color: rgb(103, 58, 183);
}
.subtitle h2{
	color: #fff;
	padding: 15px;
	margin-left: 10px;
	font-size: 20;
}
#title{
	margin-top: 20px;
	margin-left: 20px;
}

#form h3{
	width: 95%;
	margin-left: 20px;
}

body {
	width: 96%;
	border:0px solid rgba(0, 0, 0, .5);
	border-radius: 6px;
	border-top: 8px solid rgb(103, 58, 183);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	padding: 5px;
	font-family: "Helvetica Neue Med";
}
@media screen and (max-width: 768px){
	body{
		width: 95%;
	}
}

