.formulario{
    margin: auto;
	padding: 7px;
	width: 60%;
	max-width: 100%;
}
.formulario form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#selects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
select{
    width: 30%;
	padding: 12px;
	margin: 12px 10px 12px 0;
	border: 1px solid #dedede;
	font-size: 13px;
	color: #2D2D37;
	background-color: #FFFFFF;
	font-family: inherit;
}
input[type=submit]{
	min-width: 102px;
	height: 34px;
	background-color: #0A79B8;
	color: white;
	padding: 0px 15px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
    text-align: center;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.337058823529412);
	font-family: inherit;
}
@media screen and (max-width: 768px){
	#selects{
        flex-direction: column;
	}
	select{
		width: 100%;
	}
	.formulario{
		width: 90%;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	#selects{
        flex-direction: column;
	}
	select{
		width: 100%;
	}
	.formulario{
		width: 90%;
	}
	input[type="submit"]{
		width: 40%;
	}
}